# Build results
bin/
obj/
artifacts/
bin
obj
**/bin/
**/obj/
artifacts/

# User-specific files
*.user
*.suo
*.rsuser
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/
*.dbmdl
*.pfx
*.publishsettings

# ASP.NET Core secrets
secrets.json

# Logs
*.log

# Test results
TestResults/
*.trx

# NuGet packages
*.nupkg
packages/
!packages/build/

# Entity Framework
Migrations/

# Web assets
node_modules/
bower_components/

# Others
*.tmp
*.cache
*.pidb
*.svclog
*.tlog
*.ide
